In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Market_Basket_Optimisation.csv")

In [3]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(7500, 20)

In [5]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.11.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.25.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (2.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\mayuri\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import csv
dataset=[]
with open ("Market_Basket_Optimisation.csv") as file:
    reader=csv.reader(file,delimiter=',')
    for row in reader:
        dataset+=[row]

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:
te=TransactionEncoder()

In [9]:
x=te.fit_transform(dataset)

In [10]:
x

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [11]:
df=pd.DataFrame(x,columns=te.columns_)

In [12]:
df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [16]:
from mlxtend.frequent_patterns import apriori

In [19]:
freqItemset=apriori(df,min_support=0.01,use_colnames=True)

In [20]:
from mlxtend.frequent_patterns import association_rules

In [24]:
rules=association_rules(freqItemset,metric='confidence',min_threshold=0.25)

In [25]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147,0.325896
1,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818,0.499424
2,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844,0.353384
3,(burgers),(mineral water),0.087188,0.238368,0.024397,0.279817,1.173883,0.003614,1.057552,0.162275
4,(cake),(mineral water),0.081056,0.238368,0.027463,0.338816,1.421397,0.008142,1.151921,0.322617
...,...,...,...,...,...,...,...,...,...,...
90,"(milk, spaghetti)",(mineral water),0.035462,0.238368,0.015731,0.443609,1.861024,0.007278,1.368879,0.479672
91,"(mineral water, olive oil)",(spaghetti),0.027596,0.174110,0.010265,0.371981,2.136468,0.005460,1.315071,0.547034
92,"(olive oil, spaghetti)",(mineral water),0.022930,0.238368,0.010265,0.447674,1.878079,0.004799,1.378954,0.478514
93,"(mineral water, pancakes)",(spaghetti),0.033729,0.174110,0.011465,0.339921,1.952333,0.005593,1.251198,0.504819
94,"(pancakes, spaghetti)",(mineral water),0.025197,0.238368,0.011465,0.455026,1.908923,0.005459,1.397557,0.488452

In [28]:
rules=rules[['antecedents','consequents','confidence']]

In [29]:
rules

                   antecedents      consequents  confidence
0                    (avocado)  (mineral water)    0.348000
1                    (burgers)           (eggs)    0.330275
2                    (burgers)   (french fries)    0.252294
3                    (burgers)  (mineral water)    0.279817
4                       (cake)  (mineral water)    0.338816
..                         ...              ...         ...
90           (milk, spaghetti)  (mineral water)    0.443609
91  (mineral water, olive oil)      (spaghetti)    0.371981
92      (olive oil, spaghetti)  (mineral water)    0.447674
93   (mineral water, pancakes)      (spaghetti)    0.339921
94       (pancakes, spaghetti)  (mineral water)    0.455026

[95 rows x 3 columns]